<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Web Audio Meters!</title>
      <link href="css/webaudio.css" rel="stylesheet" />
    </head>
    <body>
      <div class="outermost">
        <h1>Web Audio Meters!</h1>
        <div id="playerControls">
          <audio id="htmlAudio" src="audio/classical.mp3" preload="auto">
        </div>
        <div id="dynamicPeaks"></div>
      </div>
      <script src="js/webaudio.js" charset="utf-8"></script>
    </body>
</html>
